@model ProductViewModel

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Update @Model.Name</h1>
    <form method="post" asp-controller="Product" asp-action="Edit" class=" row col-8" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <partial name="CreateEditProduct"></partial>
        <div class="mt-4 m-auto">
            <input hidden asp-for="PictureUrl"/>
            <input class="btn btn-success" type="submit" value="Save" />
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>
